<a href="https://colab.research.google.com/github/OpheliaVlzqz/MineriaDatos/blob/main/Ej_Python_1856652.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicios de Python

Ejercicio #1

In [ ]:
matri=1856652
print("Ofelia Velázquez Montemyor", matri )

Ofelia Velázquez Montemyor 1856652

Ejercicio #2

In [214]:
class calculadora:
    def sumar(self, x, y):
        print ('El resultado de la suma de  ' +str(x) + ' y '+str(y)+ ' es igual a: '+str((x+y)) )
    def restar(self, x, y):
        print ('El resultado de la resta de  '+str(x) + ' y '+str(y)+ ' es igual a: '+str((x-y)) )
    def multiplicar(self, x, y):
        print ('El resultado de la multiplicar de '+str(x) + ' y '+str(y)+ ' es igual a: '+str((x*y)) )
    def dividir(self, x, y):
        print ('El resultado de dividir  '+str(x) + ' y '+str(y)+ ' es igual a: '+str((x/y)) )
    def exponente(self, x, y):
        print ('El resultado de elevar a una potencia  '+str(x) + ' y ' +str(y)+ ' es igual a: '+str((x**y)) )

calc= calculadora()
def menu():
    print("""
    ¿Qué quieres hacer?
    1) Sumar los números
    2) Restar los números
    3) Multiplicar los números
    4) Dividir los números
    5) El exponente de los números 
    6) Salir
    """)
    return int(input('Introduce una opción: '))

while(True):
    opción= menu()
    if(opción==6):
        break
    else:
        num1= int(input('Ingresa el primer número: '))
        num2= int(input('Ingresa el segundo número: '))
        
        if(opción==1):
            calc.sumar(num1, num2)
        elif(opción==2):
            calc.restar(num1, num2)
        elif(opción==3):
            calc.multiplicar(num1, num2)
        elif(opción==4):
            calc.dividir(num1, num2)
        elif(opción==5):
            calc.exponente(num1, num2)
        else:
            print('Opción no valida')

    ¿Qué quieres hacer?
    1) Sumar los números
    2) Restar los números
    3) Multiplicar los números
    4) Dividir los números
    5) El exponente de los números
    6) Salir

Introduce una opción: 1
Ingresa el primer número: 2
Ingresa el segundo número: 3
El resultado de la suma de  2 y 3 es igual a: 5

    ¿Qué quieres hacer?
    1) Sumar los números
    2) Restar los números
    3) Multiplicar los números
    4) Dividir los números
    5) El exponente de los números
    6) Salir

Introduce una opción: 2
Ingresa el primer número: 2
Ingresa el segundo número: 3
El resultado de la resta de  2 y 3 es igual a: -1

    ¿Qué quieres hacer?
    1) Sumar los números
    2) Restar los números
    3) Multiplicar los números
    4) Dividir los números
    5) El exponente de los números
    6) Salir

Introduce una opción: 6

Ejercicio #3

In [ ]:
multi3=[]
i=3
for j in range(1,11):

 multi3.append(i)
 j=j+1
 i=i+3

 multi3

[3]
[3, 6]
[3, 6, 9]
[3, 6, 9, 12]
[3, 6, 9, 12, 15]
[3, 6, 9, 12, 15, 18]
[3, 6, 9, 12, 15, 18, 21]
[3, 6, 9, 12, 15, 18, 21, 24]
[3, 6, 9, 12, 15, 18, 21, 24, 27]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

Ejercicio #4

In [195]:
def parim(num1):
 resid=num1%2

if resid!=0:

  print("El numero es impar")

else:

  print("El numero es par")

def primo(num):

 if num==2:
  return true 
 else:
  return false

  for i in range(2,num):
   if num % i ==0:
    return false 
  return true

El numero es impar

Ejercicio #5

In [213]:
class calculadora:
    def sumar(self, x, y):
        print ('El resultado de la suma de  ' +str(x) + ' y '+str(y)+ ' es igual a: '+str((x+y)) )
    def restar(self, x, y):
        print ('El resultado de la resta de  '+str(x) + ' y '+str(y)+ ' es igual a: '+str((x-y)) )
    def multiplicar(self, x, y):
        print ('El resultado de la multiplicar de '+str(x) + ' y '+str(y)+ ' es igual a: '+str((x*y)) )
    def dividir(self, x, y):
        print ('El resultado de dividir  '+str(x) + ' y '+str(y)+ ' es igual a: '+str((x/y)) )
    def exponente(self, x, y):
        print ('El resultado de elevar a una potencia  '+str(x) + ' y ' +str(y)+ ' es igual a: '+str((x**y)) )

calc= calculadora()
def menu():
    print("""
    ¿Qué quieres hacer?
    1) Sumar los números
    2) Restar los números
    3) Multiplicar los números
    4) Dividir los números
    5) El exponente de los números 
    6) Salir
    """)
    return int(input('Introduce una opción: '))

while(True):
    opción= menu()
    if(opción==6):
        break
    else:
        num1= int(input('Ingresa el primer número: '))
        num2= int(input('Ingresa el segundo número: '))
        
        if(opción==1):
            calc.sumar(num1, num2)
        elif(opción==2):
            calc.restar(num1, num2)
        elif(opción==3):
            calc.multiplicar(num1, num2)
        elif(opción==4):
            calc.dividir(num1, num2)
        elif(opción==5):
            calc.exponente(num1, num2)
        else:
            print('Opción no valida')

    ¿Qué quieres hacer?
    1) Sumar los números
    2) Restar los números
    3) Multiplicar los números
    4) Dividir los números
    5) El exponente de los números
    6) Salir

Introduce una opción: 1
Ingresa el primer número: 2
Ingresa el segundo número: 3
El resultado de la suma de  2 y 3 es igual a: 5

    ¿Qué quieres hacer?
    1) Sumar los números
    2) Restar los números
    3) Multiplicar los números
    4) Dividir los números
    5) El exponente de los números
    6) Salir

Introduce una opción: 6

TUPLAS

In [246]:
#primer punto

f=3.1416
inte=20
boleana=5>4
comples=3j
type(f)
type(inte)
type(comples)
type(boleana)

#segundo punto

t1=(1,2,3,4,5,6)
t1[0]
t1[5]

#tercer punto

t1=t1.__add__(('hola',))
t1=t1.__add__(('como',))
t1=t1.__add__(('estas',))

#cuarto punto

2 in t1

True

LISTAS

In [259]:

import random
lista=[random.randint(0,200) for i in range(40)]

print(lista)

lpar=[]
limpar=[]
def listas():
    for i in range(40):
        h=lista[i]%2
        if h==0:
            lpar.append(lista[i])
        else:
            limpar.append(lista[i])

    print("Pares",lpar)
    print("Impares:",limpar)
listas()

[8, 161, 135, 27, 4, 1, 2, 153, 181, 172, 143, 15, 113, 119, 152, 63, 108, 79, 173, 91, 192, 136, 2, 95, 5, 151, 14, 66, 10, 86, 163, 180, 136, 149, 15, 66, 183, 60, 195, 123]
Pares [8, 4, 2, 172, 152, 108, 192, 136, 2, 14, 66, 10, 86, 180, 136, 66, 60]
Impares: [161, 135, 27, 1, 153, 181, 143, 15, 113, 119, 63, 79, 173, 91, 95, 5, 151, 163, 149, 15, 183, 195, 123]

In [267]:
len1=len(lpar)
len2=len(limpar)

print("Longitud de la primera",len1)
print("Longitud de la primera",len2)

Longitud de la primera 17
Longitud de la primera 23

In [268]:
lpar.sort(reverse=True)
limpar.sort()
print("Par:", lpar)
print("Impar", limpar)

Par: [192, 180, 172, 152, 136, 136, 108, 86, 66, 66, 60, 14, 10, 8, 4, 2, 2]
Impar [1, 5, 15, 15, 27, 63, 79, 91, 95, 113, 119, 123, 135, 143, 149, 151, 153, 161, 163, 173, 181, 183, 195]

In [272]:
longii=len(lista)
lista.reverse()
lista.append(2)

print("Longitud de la lista:",longii)
print("Imprimir lista al reves: ",lista)

print("Numero mayor de los datos:",max(lista),"\nNumero menor de los datos:",min(lista))

Longitud de la lista: 43
Imprimir lista al reves:  [52, 21, 8, 161, 135, 27, 4, 1, 2, 153, 181, 172, 143, 15, 113, 119, 152, 63, 108, 79, 173, 91, 192, 136, 2, 95, 5, 151, 14, 66, 10, 86, 163, 180, 136, 149, 15, 66, 183, 60, 195, 123, 21, 2]
Numero mayor de los datos: 195
Numero menor de los datos: 1

DICCIONARIOS

In [273]:
D={'Fanny':'22','Consuelo':'43','Victoria':'12','Diego':'20','Jose':'26','Monse':'20'}
print(D)

{'Fanny': '22', 'Consuelo': '43', 'Victoria': '12', 'Diego': '20', 'Jose': '26', 'Monse': '20'}

In [283]:
D={'Fanny':22,'Consuelo':43,'Victoria':12,'Diego':20,'Jose':26,'Monse':20}
edad=[]
for i in D:
    if type(D[i]) == type(inte):
        edad.append(D[i])
edad.sort()
print("Edades",edad)

Edades [12, 20, 20, 22, 26, 43]

In [284]:
Nom=D.keys()

print(Nom)

dict_keys(['Fanny', 'Consuelo', 'Victoria', 'Diego', 'Jose', 'Monse'])

In [285]:

D['Aaron']=30
D['Jorge']=24

print(D)

{'Fanny': 22, 'Consuelo': 43, 'Victoria': 12, 'Diego': 20, 'Jose': 26, 'Monse': 20, 'Aaron': 30, 'Jorge': 24}

SETS

In [288]:
import random
aleaSET=[random.randint(1,25) for i in range(100)]
print (aleaSET)

[25, 19, 10, 12, 1, 9, 20, 23, 7, 16, 3, 8, 22, 19, 19, 4, 5, 5, 6, 23, 5, 21, 15, 2, 16, 15, 25, 2, 25, 4, 17, 18, 16, 1, 6, 16, 4, 16, 19, 4, 6, 3, 3, 14, 11, 12, 16, 9, 15, 7, 1, 9, 2, 20, 18, 11, 19, 1, 15, 2, 10, 10, 16, 8, 13, 4, 21, 5, 22, 25, 4, 10, 19, 2, 4, 1, 15, 9, 6, 7, 22, 7, 19, 11, 16, 14, 24, 20, 1, 19, 3, 16, 11, 20, 8, 1, 5, 9, 17, 20]

In [290]:
lenSET=len(aleaSET)
print(lenSET)

100

In [292]:
import random
aleaSET2=[random.randint(1,10) for i in range(5)]
print (aleaSET2)

[4, 3, 6, 10, 7]

In [293]:
4 in aleaSET2
3 in aleaSET2
6 in aleaSET2
10 in aleaSET2
7 in aleaSET2

True